.unsplashed {
    background-image: url(https://source.unsplash.com/category/nature);
    background-size: 100%;
    overflow: hidden;
}
.section .title-area {
    max-width: 760px;
    margin: 40px auto 20px;
    display: block;
    padding: 0 15px;
    text-align: center;
}
#toTop{
    position: fixed;
    bottom: 22px;
    right: 12px;
    cursor: pointer;
    padding: 0px 13px 0px 0px;
    display: none;
    z-index: 1500!important;
    color: #bbb;
}
#toTop:hover{
    color: #e78b90;
}